




<!-- if flash is truthy print out -->


<div class="Box">

  <h1 class = "loginP"> LOGIN</h1>
  <%= form_tag login_path do %>

  <%= email_field_tag :email,  nil, class: "form-control email", placeholder: "Email"  %> <br>

  <%= password_field_tag :password, nil, placeholder: "Password", class: "form-control password"  %>

  <% if flash[:error] %>
  <strong><%= flash[:error] %></strong>
  <% end %>
  <br>
  <%= submit_tag 'Sign in', class: "signing" %>
  <% end %>
</div>
