

  <%if flash[:errors].present? %>
  <strong>Please correct the following errors</strong>
  <ol>
  <%= flash[:errors].each do |e| %>
  <li><%= e %></li>
  <% end %>
  </ol>
<% end %>
    <%= form_for @user do |f| %>

    <div class = "Box">
    <h4 class ="loginP">Create New Account</h4>
    <div class = "form-signup">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control form-control email" %>
    <br>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email, class:"form-control form-control email" %>
    <br>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: "form-control password" %>
    <br>
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_conirmation, class: "form-control password"%>
    <br>
    <%= f.submit class: "signing" %>




  <% end %>

  </div>
  </div>
